<h1><%= @breed ? @breed.name : @animal.name %></h1>
<%= simple_format @animal.description %>

<strong>Temperment:</strong> <%= @animal.temperment %>
<strong>Available for adoption?</strong> <%= @animal.adopted? ? "No" : "Yes" %>

<%= link_to "Edit #{@animal.name}", edit_animal_path(@animal), class: "btn btn-primary" %>

<%= button_to animal_path(@animal), method: :delete, data: {confirm: "Are you sure?"} do %>
  <span class="fa fa-pencil"></span>
  Destroy <%= @animal.name %>
<% end %>

<%= button_to "Back to home", root_path, method: :get, class: "btn btn-primary" %>
