<!DOCTYPE html>
<html>
<head>
  <title>PetShop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= set_background_for %>">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
