<p><%= image_tag this_post.image, class: "img-responsive" %>
<%= link_to post_path(id: this_post.id) do %>
  <h3 class="ctitle"><%= this_post.title %></h3>
<% end %>
<p><csmall>Posted: <%= this_post.created_at.strftime("%A %B %e, %Y at %I:%M") %><%= this_post.created_at.strftime("%p").downcase %>.</csmall> | <csmall2>By: <%= post.author %></csmall2></p>
